.container {
  display: flex;
  justify-content: center;
}

.title{
  text-align: center;
}

.table{
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.tablelist{
  text-align: center;
  border-collapse: collapse;
  position: absolute;
  display: table-cell; 
  width: 100%;
}

.tablelistedit{
  margin-left:15%;
  text-align: center;
  width: 100%;
}



.cell-breakWord {
  word-wrap: break-word;
  max-width: 700px;
}

.inputForm{
  margin: 0 auto; 
  width:500px;
}

.input{
  width: 100%;
  padding: 10px;
  margin: 0px;
}

.inputEdit{
  width: 400px;
  padding: 10px;
  margin: 0px;
}
.button {
  display: table-cell;
  width: 100%;
}